/* line 10, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 100px;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

@media only screen and (max-width: 800px) {
  /* line 6, ../sass/screen.sass */
  .navigation-header-logo {
    text-align: center;
  }

  /* line 9, ../sass/screen.sass */
  .navigation-header-link-section {
    text-align: center !important;
  }
}
/* line 12, ../sass/screen.sass */
body, h1, h2, h3, h4, h5, h6, p {
  color: #2a2a2a;
}

/* line 15, ../sass/screen.sass */
#footer {
  padding: 20px 0px 10px 0px;
  line-height: 20px;
  text-align: center;
}

/* line 20, ../sass/screen.sass */
a {
  color: #3f5b76;
}

/* line 23, ../sass/screen.sass */
.navigation-header {
  padding: 15px 0px 5px 0px;
  vertical-align: middle;
}
/* line 29, ../sass/screen.sass */
.navigation-header .navigation-header-logo {
  height: 45px;
}
/* line 32, ../sass/screen.sass */
.navigation-header .navigation-header-logo .navigation-header-logo-text {
  background: url("/images/logo_small.png") top left no-repeat;
  padding-left: 45px;
  display: inline-block;
  font-size: 22px;
  font-family: Junction, Arial;
  letter-spacing: -1px;
  vertical-align: middle;
  height: 35px;
  line-height: 45px;
  margin: 0;
  font-weight: normal;
}
/* line 45, ../sass/screen.sass */
.navigation-header .navigation-header-link-section {
  height: 45px;
  line-height: 45px;
  text-align: right;
}
/* line 50, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-links {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  font-family: Junction, Arial;
  letter-spacing: -1px;
}
/* line 57, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-link {
  vertical-align: middle;
  padding: 0px 12px 5px 12px;
  display: inline-block;
  font-size: 15px;
}

/* line 64, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo {
  height: 60px;
}
/* line 67, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo-text {
  background: url("/images/logo_small.png") top left no-repeat;
  padding-left: 45px;
  display: inline-block;
  font-size: 22px;
  letter-spacing: -1px;
  font-family: Junction, Arial;
  vertical-align: middle;
  height: 35px;
  line-height: 45px;
  margin: 0;
  font-weight: normal;
}
/* line 80, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo-subtext {
  font-family: "Shadows Into Light", cursive;
  font-size: 14px;
  margin: 0;
  padding-left: 45px;
  text-align: left;
}

/* line 91, ../sass/screen.sass */
.title-header {
  background-color: #3f5b76;
  padding: 30px 50px 15px 50px;
  margin: 0px 0 25px 0;
  color: #eeeeee;
  text-shadow: 0 0 5px #333333;
  letter-spacing: 1px;
  text-align: center;
}
/* line 101, ../sass/screen.sass */
.title-header .heading {
  font-family: Junction, Arial;
  font-size: 3em;
  line-height: 1.2;
}
/* line 106, ../sass/screen.sass */
.title-header .heading a {
  text-decoration: none;
  border: none;
}
/* line 110, ../sass/screen.sass */
.title-header .heading a img {
  vertical-align: -30%;
  margin-right: 10px;
  width: 70px;
  height: 65px;
}

/* Old stuff */
@font-face {
  font-family: Junction;
  src: url("/fonts/Junction.otf");
}

/* line 122, ../sass/screen.sass */
html {
  overflow-y: scroll;
  font-family: Junction, Arial;
}

/* line 126, ../sass/screen.sass */
h2 {
  text-align: center;
  color: #333333;
}

/* line 131, ../sass/screen.sass */
p {
  font-size: 1.2em;
  text-align: justify;
}

/* line 136, ../sass/screen.sass */
.phone em {
  padding-left: 5px;
  color: #777777;
}

/* line 141, ../sass/screen.sass */
ul.navigation {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #cccccc;
}

/* line 147, ../sass/screen.sass */
ul.navigation li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 2;
}

/* line 153, ../sass/screen.sass */
ul.navigation li.selected {
  background-color: #cccccc;
  font-weight: bold;
}

/* line 158, ../sass/screen.sass */
ul.navigation li a {
  display: block;
}

/* Blog */
/* line 162, ../sass/screen.sass */
.blog-posts {
  display: inline-block;
  padding: 20px 0px 0px 0px;
}

/* line 166, ../sass/screen.sass */
.blog-post {
  list-style-type: none;
  font-family: Georgia, serif;
}

/* line 170, ../sass/screen.sass */
.blog-post-title {
  font-size: 24px;
  font-family: Junction, Arial;
  letter-spacing: -1px;
}

/* line 175, ../sass/screen.sass */
.tag-list-in-post {
  list-style-type: none;
  margin: 0;
}

/* line 179, ../sass/screen.sass */
.blog-content > h1:first-of-type {
  margin-bottom: -10px;
  text-shadow: 2px 2px 1px #b5752e;
  color: #f0dac0;
}

/* line 187, ../sass/screen.sass */
.blog-content {
  font-family: Georgia, serif;
  padding-left: 45px;
}
/* line 191, ../sass/screen.sass */
.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
  font-family: Junction, Arial;
}
/* line 194, ../sass/screen.sass */
.blog-content h1 {
  margin-top: 0;
  font-size: 35px;
  background: url(/images/blog_header_background.png);
  height: 147px;
  padding-top: 50px;
}
/* line 201, ../sass/screen.sass */
.blog-content h2 {
  color: #444444;
  padding-top: 20px;
  font-size: 24px;
  text-align: left;
  margin-bottom: 5px;
}

/* line 208, ../sass/screen.sass */
.tag-list-item {
  display: inline-block;
  padding: 2px 20px;
  background-color: #e6e6e6;
  color: #666666;
}

/* line 215, ../sass/screen.sass */
.highlight {
  background: #2a2a2a;
  padding: 10px 0px 10px 0px;
  border: 2px solid #888888;
  border-radius: 5px;
  margin-bottom: 17px;
}

/* line 223, ../sass/screen.sass */
pre code {
  font-weight: normal !important;
  background: none;
  padding: 0;
  border: none;
  font-size: 1em;
  line-height: 18px;
}

/* line 231, ../sass/screen.sass */
code {
  font-weight: normal;
  background: #f7f7f7;
  display: inline-block;
  padding: 0px 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 20px;
}
