/* line 10, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 54px;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

@media only screen and (max-width: 800px) {
  /* line 6, ../sass/screen.sass */
  .navigation-header-logo {
    text-align: center;
  }

  /* line 9, ../sass/screen.sass */
  .navigation-header-link-section {
    text-align: center !important;
  }
}
/* line 12, ../sass/screen.sass */
a {
  color: #3f5b76;
}

/* line 15, ../sass/screen.sass */
.navigation-header {
  padding: 10px 0px 5px 0px;
  vertical-align: middle;
}
/* line 19, ../sass/screen.sass */
.navigation-header .navigation-header-logo {
  height: 45px;
}
/* line 22, ../sass/screen.sass */
.navigation-header .navigation-header-logo .navigation-header-logo-text {
  background: url("/images/logo_small.png") top left no-repeat;
  padding-left: 45px;
  display: inline-block;
  font-size: 22px;
  font-family: Junction, Arial;
  font-weight: normal;
  vertical-align: middle;
  height: 35px;
  line-height: 45px;
  margin: 0;
}
/* line 34, ../sass/screen.sass */
.navigation-header .navigation-header-link-section {
  height: 45px;
  line-height: 45px;
  text-align: right;
}
/* line 39, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-links {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}
/* line 44, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-link {
  vertical-align: middle;
  background-color: #cccccc;
  padding: 5px 15px 5px 15px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

/* line 52, ../sass/screen.sass */
.title-header {
  background-color: #3f5b76;
  padding: 30px 50px 15px 50px;
  margin: 0px 0 25px 0;
  color: #eeeeee;
  text-shadow: 0 0 5px #333333;
  letter-spacing: 1px;
  text-align: center;
}
/* line 62, ../sass/screen.sass */
.title-header .heading {
  font-family: Junction, Arial;
  font-size: 3em;
  line-height: 1.2;
}
/* line 67, ../sass/screen.sass */
.title-header .heading a {
  text-decoration: none;
  border: none;
}
/* line 71, ../sass/screen.sass */
.title-header .heading a img {
  vertical-align: -30%;
  margin-right: 10px;
  width: 70px;
  height: 65px;
}

/* Old stuff */
@font-face {
  font-family: Junction;
  src: url("/fonts/Junction.otf");
}

/* line 83, ../sass/screen.sass */
html {
  overflow-y: scroll;
  font-family: Junction, Arial;
}

/* line 87, ../sass/screen.sass */
h2 {
  text-align: center;
  color: #333333;
}

/* line 92, ../sass/screen.sass */
p {
  font-size: 1.2em;
  text-align: justify;
}

/* line 97, ../sass/screen.sass */
.phone em {
  padding-left: 5px;
  color: #777777;
}

/* line 102, ../sass/screen.sass */
ul.navigation {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #cccccc;
}

/* line 108, ../sass/screen.sass */
ul.navigation li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 2;
}

/* line 114, ../sass/screen.sass */
ul.navigation li.selected {
  background-color: #cccccc;
  font-weight: bold;
}

/* line 119, ../sass/screen.sass */
ul.navigation li a {
  display: block;
}

/* Blog */
/* line 123, ../sass/screen.sass */
.blog-posts {
  display: inline-block;
}

/* line 126, ../sass/screen.sass */
.blog-post {
  list-style-type: none;
}

/* line 129, ../sass/screen.sass */
.blog-post-title {
  font-size: 24px;
}
