/* line 10, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 100px;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 100px;
}

@media only screen and (max-width: 800px) {
  /* line 6, ../sass/screen.sass */
  .navigation-header-logo {
    text-align: center;
  }

  /* line 9, ../sass/screen.sass */
  .navigation-header-link-section {
    text-align: center !important;
  }
}
/* line 12, ../sass/screen.sass */
#footer {
  padding: 20px 0px 10px 0px;
  line-height: 20px;
  text-align: center;
}

/* line 17, ../sass/screen.sass */
a {
  color: #3f5b76;
}

/* line 20, ../sass/screen.sass */
.navigation-header {
  padding: 15px 0px 5px 0px;
  vertical-align: middle;
}
/* line 26, ../sass/screen.sass */
.navigation-header .navigation-header-logo {
  height: 45px;
}
/* line 29, ../sass/screen.sass */
.navigation-header .navigation-header-logo .navigation-header-logo-text {
  background: url("/images/logo_small.png") top left no-repeat;
  padding-left: 45px;
  display: inline-block;
  font-size: 22px;
  font-family: Junction, Arial;
  letter-spacing: -1px;
  vertical-align: middle;
  height: 35px;
  line-height: 45px;
  margin: 0;
  font-weight: normal;
}
/* line 42, ../sass/screen.sass */
.navigation-header .navigation-header-link-section {
  height: 45px;
  line-height: 45px;
  text-align: right;
}
/* line 47, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-links {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  font-family: Junction, Arial;
  letter-spacing: -1px;
}
/* line 54, ../sass/screen.sass */
.navigation-header .navigation-header-link-section .navigation-link {
  vertical-align: middle;
  padding: 0px 12px 5px 12px;
  display: inline-block;
  font-size: 15px;
}

/* line 61, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo {
  height: 60px;
}
/* line 64, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo-text {
  background: url("/images/logo_small.png") top left no-repeat;
  padding-left: 45px;
  display: inline-block;
  font-size: 22px;
  letter-spacing: -1px;
  font-family: Junction, Arial;
  vertical-align: middle;
  height: 35px;
  line-height: 45px;
  margin: 0;
  font-weight: normal;
}
/* line 77, ../sass/screen.sass */
.navigation-header-blog .navigation-header-blog-logo-subtext {
  font-family: "Shadows Into Light", cursive;
  font-size: 14px;
  margin: 0;
  padding-left: 45px;
  text-align: left;
}

/* line 88, ../sass/screen.sass */
.title-header {
  background-color: #3f5b76;
  padding: 30px 50px 15px 50px;
  margin: 0px 0 25px 0;
  color: #eeeeee;
  text-shadow: 0 0 5px #333333;
  letter-spacing: 1px;
  text-align: center;
}
/* line 98, ../sass/screen.sass */
.title-header .heading {
  font-family: Junction, Arial;
  font-size: 3em;
  line-height: 1.2;
}
/* line 103, ../sass/screen.sass */
.title-header .heading a {
  text-decoration: none;
  border: none;
}
/* line 107, ../sass/screen.sass */
.title-header .heading a img {
  vertical-align: -30%;
  margin-right: 10px;
  width: 70px;
  height: 65px;
}

/* Old stuff */
@font-face {
  font-family: Junction;
  src: url("/fonts/Junction.otf");
}

/* line 119, ../sass/screen.sass */
html {
  overflow-y: scroll;
  font-family: Junction, Arial;
}

/* line 123, ../sass/screen.sass */
h2 {
  text-align: center;
  color: #333333;
}

/* line 128, ../sass/screen.sass */
p {
  font-size: 1.2em;
  text-align: justify;
}

/* line 133, ../sass/screen.sass */
.phone em {
  padding-left: 5px;
  color: #777777;
}

/* line 138, ../sass/screen.sass */
ul.navigation {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #cccccc;
}

/* line 144, ../sass/screen.sass */
ul.navigation li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 2;
}

/* line 150, ../sass/screen.sass */
ul.navigation li.selected {
  background-color: #cccccc;
  font-weight: bold;
}

/* line 155, ../sass/screen.sass */
ul.navigation li a {
  display: block;
}

/* Blog */
/* line 159, ../sass/screen.sass */
.blog-posts {
  display: inline-block;
  padding: 20px 0px 0px 40px;
}

/* line 163, ../sass/screen.sass */
.blog-post {
  list-style-type: none;
  font-family: Georgia, serif;
}

/* line 167, ../sass/screen.sass */
.blog-post-title {
  font-size: 24px;
  font-family: Junction, Arial;
  letter-spacing: -1px;
}

/* line 172, ../sass/screen.sass */
.tag-list-in-post {
  list-style-type: none;
  margin: 0;
}

/* line 176, ../sass/screen.sass */
.blog-content {
  font-family: Georgia, serif;
}
/* line 179, ../sass/screen.sass */
.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
  font-family: Junction, Arial;
}
/* line 182, ../sass/screen.sass */
.blog-content h2 {
  font-size: 24px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* line 188, ../sass/screen.sass */
.tag-list-item {
  display: inline-block;
  padding: 2px 20px;
  background-color: #e6e6e6;
  color: #666666;
}

/* line 195, ../sass/screen.sass */
.highlight {
  background: #2a2a2a;
  padding: 10px 0px 10px 0px;
  border: 2px solid #888888;
  border-radius: 5px;
  margin-bottom: 17px;
}
