@import compass/css3
@import compass/layout/sticky-footer
@include sticky-footer(54px)

@media only screen and (max-width: 800px)
  .navigation-header-logo
    text-align: center

  .navigation-header-link-section
    text-align: center !important

a
  color: #3F5B76

.navigation-header
  padding: 10px 0px 5px 0px
  vertical-align: middle

  .navigation-header-logo
    height: 45px

    .navigation-header-logo-text
      background: url('/images/logo_small.png') top left no-repeat
      padding-left: 45px
      display: inline-block
      font-size: 22px
      font-family: Junction, Arial
      font-weight: normal
      vertical-align: middle
      height: 35px
      line-height: 45px
      margin: 0

  .navigation-header-link-section
    height: 45px
    line-height: 45px
    text-align: right

    .navigation-links
      list-style-type: none
      display: inline-block
      margin: 0

    .navigation-link
      vertical-align: middle
      background-color: #ccc
      padding: 5px 15px 5px 15px
      @include border-radius(5px 5px 5px 5px)
      display: inline-block


.title-header
  background-color: #3F5B76
  // background-color: #494949 - gray
  padding: 30px 50px 15px 50px
  margin: 0px 0 25px 0
  color: #eee
  +single-text-shadow(#333, 0, 0, 5px)
  letter-spacing: 1px
  text-align: center

  .heading
    font-family: Junction, Arial
    font-size: 3em
    line-height: 1.2

    a
      text-decoration: none
      border: none

      img
        vertical-align: -30%
        margin-right: 10px
        width: 70px
        height: 65px

/* Old stuff */

@font-face
  font-family: Junction
  src: url('/fonts/Junction.otf')

html
  overflow-y: scroll
  font-family: Junction, Arial

h2
  text-align: center
  color: #333


p
  font-size: 1.2em
  text-align: justify


.phone em
  padding-left: 5px
  color: #777


ul.navigation
  list-style-type: none
  padding-left: 0
  border: 1px solid #ccc


ul.navigation li
  list-style-type: none
  padding-left: 10px
  line-height: 2


ul.navigation li.selected
  background-color: #ccc
  font-weight: bold


ul.navigation li a
  display: block

/* Blog */
.blog-posts
  display: inline-block

.blog-post
  list-style-type: none

.blog-post-title
  font-size: 24px
