@import compass/css3
@import compass/layout/sticky-footer
@import tags
@include sticky-footer(100px)

@media only screen and (max-width: 800px)
  .navigation-header-logo
    text-align: center

  .navigation-header-link-section
    text-align: center !important

body.blog
  background: lighten(#F6F5ED, 2%)
  // background: #F6F5ED

body, h1, h2, h3, h4, h5, h6, p
  color: #2a2a2a

#footer
  padding: 20px 0px 10px 0px
  line-height: 20px
  text-align: center

a
  color: #3F5B76

.navigation-header
  padding: 15px 0px 5px 0px
  vertical-align: middle
  // background: #F0F1F4
  // border-bottom: 1px solid #D8DDE1

  .navigation-header-logo
    height: 45px

    .navigation-header-logo-text
      background: url('/images/logo_small.png') top left no-repeat
      padding-left: 45px
      display: inline-block
      font-size: 22px
      font-family: Junction, Arial
      letter-spacing: -1px
      vertical-align: middle
      height: 35px
      line-height: 45px
      margin: 0
      font-weight: normal

  .navigation-header-link-section
    height: 45px
    line-height: 45px
    text-align: right

    .navigation-links
      list-style-type: none
      display: inline-block
      margin: 0
      font-family: Junction, Arial
      letter-spacing: -1px

    .navigation-link
      vertical-align: middle
      padding: 0px 12px 5px 12px
      display: inline-block
      font-size: 15px

.navigation-header-blog
  position: relative

  .navigation-header-blog-logo
    height: 60px

  .navigation-header-blog-logo-text
    background: url('/images/logo_small.png') top left no-repeat
    padding-left: 45px
    display: inline-block
    font-size: 22px
    letter-spacing: -1px
    font-family: Junction, Arial
    vertical-align: middle
    height: 35px
    line-height: 45px
    margin: 0
    font-weight: normal

  .navigation-header-blog-logo-subtext
    font-family: 'Shadows Into Light', cursive
    font-size: 14px
    margin: 0
    padding-left: 45px
    text-align: left

  // .navigation-header-link-section
  //   background: black


.title-header
  background-color: #3F5B76
  // background-color: #494949 - gray
  padding: 30px 50px 15px 50px
  margin: 0px 0 25px 0
  color: #eee
  +single-text-shadow(#333, 0, 0, 5px)
  letter-spacing: 1px
  text-align: center

  .heading
    font-family: Junction, Arial
    font-size: 3em
    line-height: 1.2

    a
      text-decoration: none
      border: none

      img
        vertical-align: -30%
        margin-right: 10px
        width: 70px
        height: 65px

/* Old stuff */

@font-face
  font-family: Junction
  src: url('/fonts/Junction.otf')

html
  overflow-y: scroll
  font-family: Junction, Arial

h2
  text-align: center
  color: #333


p
  font-size: 1.2em
  text-align: justify


.phone em
  padding-left: 5px
  color: #777


ul.navigation
  list-style-type: none
  padding-left: 0
  border: 1px solid #ccc


ul.navigation li
  list-style-type: none
  padding-left: 10px
  line-height: 2


ul.navigation li.selected
  background-color: #ccc
  font-weight: bold


ul.navigation li a
  display: block

/* Blog */
.blog-posts
  display: block
  padding: 20px 0px 0px 0px

.blog-post
  list-style-type: none
  font-family: Georgia, serif
  padding-bottom: 20px

.blog-post-title
  font-size: 24px
  font-family: Junction, Arial
  letter-spacing: -1px
  font-weight: bold
  a
    color: #F0DAC0 !important
    text-shadow: 1px 1px 1px #B5752E
    &:hover
      // text-shadow: none
      color: lighten(#F0DAC0, 5%) !important
      text-shadow: 1px 1px 1px lighten(#B5752E, 25%)

.tag-list-in-post
  list-style-type: none
  margin: 0

.blog-post-teaser
  margin-bottom: 10px

.blog-content>h1:first-of-type
  margin-bottom: -10px
  text-shadow: 2px 2px 1px #b5752e
  color: #f0dac0

.blog-content>h2:first-of-type
  // border-top: 2px solid lighten(#2a2a2a, 30%)

.blog-content
  font-family: Georgia, serif
  padding-left: 45px

  h1, h2, h3, h4, h5, h6
    font-family: Junction, Arial

  h1
    margin-top: 0
    font-size: 35px
    // background: url(/images/blog_header_background.png)
    // height: 147px
    padding-top: 20px

  h2
    color: lighten(#2a2a2a, 10%)
    padding-top: 20px
    font-size: 24px
    text-align: left
    margin-bottom: 5px

.tag-list-item
  $tagColor: lighten(#000, 90%)
  display: inline-block
  padding: 2px 20px
  background-color: $tagColor
  color: darken($tagColor, 50%)

.highlight
  background: lighten(#fdf6e4, 2%)
  padding: 10px 0px 10px 0px
  border: 1px solid #e7e7e7
  border-radius: 2px
  margin-bottom: 17px

pre
  code
    background: none
    padding: 0
    border: none
    font-size: 1em
    line-height: 18px

code
  font-weight: normal
  background: #f7f7f7
  display: inline-block
  padding: 0px 5px
  border: 1px solid #ccc
  border-radius: 3px
  font-size: 0.9em
  line-height: 20px

.learn-more-badge
  padding: 8px 15px !important
  background: #ccc
  border-radius: 0px 0px 5px 5px
  position: absolute
  top: -15px
  right: 10px
  a
    color: #2a2a2a
    &:hover
      color: lighten(#2a2a2a, 30%)
