<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="navigation-header navigation-header-blog">
  <div class="row display navigation-header-logo-section">
    <div class="six columns">
      <div class="navigation-header-blog-logo">
        <h1 class="navigation-header-blog-logo-text">
          Madriska Memos
        </h1>
        <h2 class="navigation-header-blog-logo-subtext">
          A blog about Software Development
        </h2>
      </div>
    </div>

    <div class="six columns navigation-header-link-section">
      <ul class="navigation-links">
        <li class="navigation-link">
          <!-- <a href="/">Read more about Madriska</a> -->
        </li>
      </ul>
    </div>
  </div>
</div>
