<div class="navigation-header">
  <div class="row display navigation-header-logo-section">
    <div class="six columns">
      <div class="navigation-header-logo">
        <h1 class="navigation-header-logo-text">
          Madriska Media Group, Inc.
        </h1>
      </div>
    </div>

    <div class="six columns navigation-header-link-section">
      <ul class="navigation-links">
        <li class="navigation-link">
          <a href="/">Home</a>
        </li>
        <li class="navigation-link">
          <a href="/philosophy">Philosophy</a>
        </li>
        <li class="navigation-link">
          <a href="/opensource">Open Source</a>
        </li>
        <li class="navigation-link">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
